/* Color scheme */
$color-scheme-black: #000000;
$color-scheme-gray-1: #2c2c2c;
$color-scheme-gray-2: #4f4f4f;
$color-scheme-gray-3: #979797;
$color-scheme-gray-4: #bdbdbd;
$color-scheme-gray-5: #ededed;
$color-scheme-gray-6: #f9f9f9;
$color-scheme-white: #ffffff;
$color-scheme-orange: #ffa84c;
$color-scheme-purple-1: #6f64f8;
$color-scheme-purple-2: #7e72f2;

$color-text-button-primary: $color-scheme-white;
$color-background-button-primary: $color-scheme-purple-1;

$border-radius-soft: 8px;

$text-default-family: "Montserrat", sans-serif;
$text-default-weight: 400;
$text-default-size: 16px;
$text-default-height: 21px;

$space-one-x: 16px;

$shadow-button-primary: 0 8px 25px -8px $color-background-button-primary;

// Animation related
$duration-one-x: .1s;
$duration-two-x: .2s;
$duration-three-x: .3s;
$duration-four-x: .4s;
$duration-five-x: .5s;

$timing-function-ease: cubic-bezier(.17,.67,.83,.67);

:export {
  colorSchemeBlack: $color-scheme-black;
  colorSchemeGray1: $color-scheme-gray-1;
  colorSchemeGray2: $color-scheme-gray-2;
  colorSchemeGray3: $color-scheme-gray-3;
  colorSchemeGray4: $color-scheme-gray-4;
  colorSchemeGray5: $color-scheme-gray-5;
  colorSchemeGray6: $color-scheme-gray-6;
  colorSchemeWhite: $color-scheme-white;
  colorSchemeOrange: $color-scheme-orange;
  colorSchemePurple1: $color-scheme-purple-1;
  colorSchemePurple2: $color-scheme-purple-2;
}
